@font-face {
    font-family: "gordita-regular";
    src: url('@/assets/fonts/gordita-regular.woff') format('woff');
}
@font-face {
    font-family: "gordita-medium";
    src: url('@/assets/fonts/gordita-medium.woff') format('woff');
}
@font-face {
    font-family: "gordita-bold";
    src: url('@/assets/fonts/gordita-bold.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
        background-color: #376570;
        color: #fff
    }
}




