@font-face {
    font-family: "gordita-regular";
    src: url("@/assets/fonts/gordita-regular.woff") format("woff");
}
@font-face {
    font-family: "gordita-medium";
    src: url("@/assets/fonts/gordita-medium.woff") format("woff");
}
@font-face {
    font-family: "gordita-bold";
    src: url("@/assets/fonts/gordita-bold.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-input {
        @apply py-2 px-3 mb-6 bg-light-blue text-white font-regular placeholder-lait-grey focus:outline-none;
    }

    .custom-select {
        @apply bg-light-blue py-2 px-3 mb-4 text-white font-regular placeholder-lait-grey focus:outline-none;
    }

    .custom-datepicker input {
        @apply bg-light-blue border-none py-2 text-white placeholder-lait-grey rounded-none focus:outline-none;
    }

    .custom-datepicker .dp__input_wrap svg {
        @apply fill-lait-grey;
    }

    .custom-image-resize img {
        @apply max-h-[40px] w-10 object-cover;
    }

    .custom-input-focus {
        @apply focus:ring-1 focus:ring-lait-yellow focus:ring-inset focus:outline-none;
    }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 5px;
        height: 20px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #1b323886;
        border-radius: 100vh;
        height: 60px;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #1b3238;
    }

    .scrollbar::-webkit-scrollbar {
        height: 40px;
    }

    input:-webkit-autofill {
        background-color: #4c757f !important;
        -webkit-box-shadow: 0 0 0 50px #4c757f inset;
        -webkit-text-fill-color: #ffffff;
    }

    input:-webkit-autofill:focus {
        background-color: #4c757f !important;
        -webkit-box-shadow: 0 0 0 50px #4c757f inset;

        border: 0.5px solid #ecc865;
    }
}

@layer base {
    body {
        background-color: #376570;
        color: #fff;
    }

    .translate-event:nth-of-type(3n + 2) {
        transform: translateY(6rem);
    }

    .resize-image div img {
        height: 40px;
        width: auto;
    }

    .content-wrap {
        display: block;
        position: relative;
    }

    .content-wrap:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #4c757f;
        transform: scale(1);
        transition-property: color, background-color, border-color,
            text-decoration-color, fill, stroke, opacity, box-shadow, transform,
            filter, backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }

    .event-content {
        padding: 3rem 3rem 2rem 3rem;
        position: relative;
        z-index: 1;
        height: 37.5rem;
    }

    .content-wrap:after:hover {
        transform: scale(0.94);
    }
}
